.orden-container {
    width: 70rem;
    min-height: 15rem;
    height: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.808);
    color: black;
    box-shadow: 9px 6px 9px 0px rgba(0,0,0,0.4);
    margin: 2rem auto 1rem;

}

.orden-formulario {
    background-color: rgba(255, 255, 255, 0.774);
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.7rem;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin-bottom: 2rem;
}

.orden-input {
    padding: 1rem;
    border: solid;
    border-radius: 10px;
}

    
.orden-vista {
    width: 70rem;
    min-height: 15rem;
    height: auto;
    padding: 2rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.705);
    color: black;
    box-shadow: 9px 6px 9px 0px rgba(0,0,0,0.4);
    margin: 4rem auto 1rem;
}

.boton-orden {
    margin-left: 1rem;
    padding: 1rem .50rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    color: #007bff;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    }
    
.boton-orden:hover, .boton-orden:active, .boton-orden:focus {
    color: #fff;
    background-color: #007bff;
}

.orden-texto {
    font-size: large;
    font-weight: bold;
}



.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}