body {
    background-image: url(../../assets/image-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
}

.tarjetaImagen{
    max-width: 50%;
    margin-left: 25%;
}

.tarjetaBody {
    display: grid;
    align-items: center;
    margin: 1rem;
}

.tarjeta__titulo {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    
}

.tarjeta__precio {
    color: blue;
}

button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(8, 8, 8);
    background-color:#0cc9a7;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}

button:hover {background-color:#108b75}

button:active {
    background-color:#0c6353;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
