header {
    display: flex;
    justify-content: space-between;
    background-color: #f3c42a ;
    align-items: center;
	margin-bottom: 10px;
    
}


img {
    width: 160px;
    margin-left: 20px ;
	padding: 5px;
}

.link__navbar {
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
	-webkit-text-stroke: 2px black;
	color:#0cc9a7;
    margin: 20px;
    padding: 20px;
	transition: all 0.5s;
	position: relative;
}

.link__navbar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #c01725(255,255,255,0.1);
	transition: all 0.3s;
}
.link__navbar:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.link__navbar::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid black;
	transform: scale(1.2,1.2);
}
.link__navbar:hover::after {
	opacity: 1;
	transform: scale(1,1);
}



.icon__shop {
    margin-right: 75px;
	text-decoration: none;

}

.iconShop:hover {
	color:#0af8cc;
	text-decoration: none;
}

.icon__shop::after{
	position: absolute;
	

}

.numero__carrito{
	text-decoration: none;
	font-size: 20px;
    background:#0cc9a600;
	border-radius: 50px;
	font-weight: 700;
    color:#0cc9a7;
    padding: 0 8px;
    vertical-align: top;
}



