.vista__carrito{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.carrito__final {
  display: flex;
  margin: 3rem auto;
  width: 50%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: rgba(243, 240, 240, 0.623);
}

.orden__id {
  color: #161af3 ;
}

.titulo__carrito{
    text-align: center;
}

  .cart__compra{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.863);
    margin:auto;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    
  }

  .detalle__titulo{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: larger;
    
  }

  .item__cart {
    background-color: rgba(255, 255, 255, 0.863);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
  
  }
  
  .item__img {
      width: 200px;
      margin-right: 1rem;
  }

  .vista__botones {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .boton__vaciar {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(8, 8, 8);
    background-color: red;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
  }
  
  .boton__vaciar:hover {background-color:red}
  
  .boton__vaciar:active {
    background-color:rgb(145, 6, 6);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  .boton__registro{
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(8, 8, 8);
    background-color: rgb(9, 255, 0);
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
  }

  
  .boton__borrar {
      height: 50px;
      color: rgb(8, 8, 8);
      background-color: red;
    }
    
    .boton__borrar:hover {background-color:red}
    
    .boton__borrar:active {
      background-color:rgb(145, 6, 6);
      box-shadow: 0 2px #666;
      transform: translateY(4px);
    }

    .modal__vista {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  .modal__formulario {
      display: flex;
      flex-direction: column;
      margin: 1rem;
     
  }


  .formulario {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 5px;
      padding: 10px;
    
  }

  @media (max-width: 768px){

    .item__cart {
      background-color: rgba(255, 255, 255, 0.863);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      margin: 0 auto;
      gap: 1rem;
      padding: 1rem;
    
    }

    .cart__compra{
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1rem;
      background-color: rgba(255, 255, 255, 0.863);
      margin:auto;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;
      
    }

    .modal__vista {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1rem;
  }
  
  .modal__formulario {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin: 1rem;
     
  }

  .css-1wnsr1i{
    width: 100%;
  }

}






  


