.vista__carrito{
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo__carrito{
    text-align: center;
}

.boton__vaciar {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: rgb(8, 8, 8);
    background-color: red;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
  }
  
  .boton__vaciar:hover {background-color:red}
  
  .boton__vaciar:active {
    background-color:rgb(145, 6, 6);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  .detalle__titulo{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: larger;
  }