footer{
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background-color: #121212;
}

.copyright-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo{
        width: 160px;
        padding: 5px;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size:medium;
    font-weight: 400;
    text-transform: uppercase;
    
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 30px;
    width: 100%;
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}